@import url(../common/reset.css);
@import url(../common/paging.css);

.adminContainer h1{
    text-align: center;
    padding: 28px;
    border-bottom: 1px solid #ccc;
}

.adminContainer .work .work-con{
    height: calc( 100vh - 100px - 150px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.adminContainer .work .work-con .search{
    float: right;
    padding: 10px;
    padding-right: 20px;
}

.adminContainer .work .work-con table{
    text-align: center;
    padding: 0 20px;
    width: 100%;
    table-layout: fixed;
}

.adminContainer .work .work-con table th{
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid #333;
}

.adminContainer .work .work-con table td{
    font-size: 15px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
