<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<div th:fragment="deptFragment">
    <div class="part" th:if="${msg.answerDto.employee} != null">
        <p>
            이름: <span th:text="${msg.answerDto.employee.name}"></span> <br>
            상위부서: <span th:text="${msg.answerDto.employee.topDeptName}"></span> <br>
            부서: <span th:text="${msg.answerDto.employee.deptName}"></span> <br>
        </p>
    </div>
    <div class="part" th:unless="${msg.answerDto.employee} != null">
        <p>
            <span>존재하지 않는 사원입니다.</span>
        </p>
    </div>
</div>
</html>

