@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.api {
    font-family: 'TTLaundryGothicB';
    display: flex;
    flex-direction: column;
    font-size: 16px;
    height: calc(100vh - 75px);
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid;
    box-sizing: border-box;
    padding: 20px;
}

.api .airTitle {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    box-sizing: border-box;
    padding: 5px 80px 0px 0px;
}

.api .futureWeather {
    width: 100%;
}

/* 외부 CSS 파일 styles.css */

.weather_table {
    display: flex; /* 테이블을 가로로 배열 */
    flex-direction: column; /* 각 행을 세로로 배열 */
     /* 테이블 전체 너비 설정 */
    margin: 20px auto; /* 중앙 정렬을 위한 마진 설정 */
    border: 1px solid #ccc; /* 테이블 테두리 설정 */
    border-radius: 5px; /* 테두리 모서리 둥글게 */
    padding: 10px; /* 내부 콘텐츠와 테두리 사이 간격 설정 */
    width: 80%;
    overflow-x: scroll;
    background: #eff6ff;
}

.weather_table::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

.weather_table::-webkit-scrollbar-thumb {
    background: #324153;
    border-radius: 10px;
}

.weather_table::-webkit-scrollbar-track {
    background:#eff6ff;
}

.weather_table .row {
    display: flex; /* 행을 가로로 배열 */
    width: 100%; /* 각 행의 너비 설정 */
     /* 행 간 구분선 설정 */
}

.weather_table .header {
    background-color: #96b3d9; /* 헤더 배경색 설정 */
    padding: 10px; /* 헤더 내부 콘텐츠와 테두리 사이 간격 설정 */
    min-width: 150px; /* 헤더 최소 너비 설정 */
    text-align: center; /* 헤더 가운데 정렬 */
    border-right: 2px solid #324153; /* 열 간 구분선 설정 */
    border-bottom: 1px solid #324153;
    border-radius: 5px;
    margin: 2px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.weather_table .data {
    padding: 10px; /* 데이터 내부 콘텐츠와 테두리 사이 간격 설정 */
    min-width: 150px; /* 데이터 최소 너비 설정 */
    text-align: center; /* 데이터 가운데 정렬 */
    border-right: 1px solid #ccc; /* 열 간 구분선 설정 */
    background: #fff;
}

.weather_table .data:last-child {
    border-right: none; /* 마지막 데이터 열의 우측 구분선 제거 */
}


.weatherApiPage {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 450px;
    font-size: 2rem;
    background: #96b3d9;
    box-sizing: border-box;
    padding-top: 3%;
    border-radius: 100px;
    border-right: 2px solid #324153;
    border-bottom: 1px solid #324153;
    width: 420px;
}

.searchApi {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 4px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.searchApi #searchApi {
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1.5rem;
    background: url(/images/down.png) no-repeat 100% 50%;
    font-family: 'TTLaundryGothicB';
    box-shadow: 0px 1px 1px 0px #000;
    border: 1px solid #000;
    padding: 2px;
    border-radius: 5px;
    width: 160px;
    background-color: #eff6ff;
}

.searchApi .searchMenu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchApi #searchApi option {
    background-color: #eff6ff;
}

.searchApi .Arrow {
    display: flex;
    background: inherit;
    height: 100%;
    align-items: center;
}

.searchApi button {
    border: none;
    outline: 0px;
    box-shadow: 0px 0px 2px 1px #eff6ff;
    border-radius: 5px;
    background: #96b3d9;
    transition: 0.2s;
    box-sizing: border-box;
    padding: 1px 5px;
    font-family: 'TTLaundryGothicB';
    width: 80px;
    height: 100%;
    font-size: 1.2rem;
}

.searchApi button:hover {
  box-shadow: 0px 0px 4px 2px #96b3d9;
  background: #3767a6;
  color: #fff;
}

.weatherShow {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10%;
}

.weatherApiPage .topWeatherApi {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -40px;
}


.weatherApiPage .topWeatherApi .SeoulIconApi {
    width: 200px;
}

.weatherApiPage .topWeatherApi .SeoulIconApi img {
    width: 100%;
}

.weatherApiPage .topWeatherApi .nowWeatherApi {
    width: 30%;
}

.nowWeatherApi {
    padding-bottom: 5%;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
}

.SeoulTempMaxApi {
    color: red;
}

.SeoulTempMinApi {
    color: blue;
}

#map {
    width: 80%;
    height: 400px;
    box-shadow: 0px 0px 1px 2px;
}