<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/member/findPassword.css}">
    <script th:src="@{/js/member/checkEmail.js}" defer></script>
    <script th:src="@{/js/member/member.js}" defer></script>
    <script th:src="@{/js/member/checkPw.js}" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js" defer></script>
</head>
<body>
    <div class="adminContainer">

        <div class="findPassword">
            <div class="findPassword-con">

                <h1>비밀번호 찾기</h1>

                <li class="find">
                    <label for="userEmail" class="label1">이메일: </label>
                    <div id="userEmail_input">
                        <input type="email" name="userEmail" id="userEmail" placeholder="이메일 입력">
                    </div>
                    <br>
                </li>
                <li class="find">
                    <label for="name" class="label1">이  름: </label>
                    <div id="name_input">
                        <input type="text" name="name" id="name" placeholder="이름 입력">
                    </div>
                </li>
                <li class="btn">
                    <button type="button" id="findPasswordBtn" name="findPasswordBtn" onclick="findPassword()">비밀번호
                        찾기</button>
                    <div id="result" style="display: none"></div>
                </li>
            </div>
        </div>
    </div>

    </body>
</html>