<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{common/layout/adminLayout}">
<th:block layout:fragment="title">
    <!-- 각 페이지 마다 변경 -->
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/airplane/index.css}">
</th:block>
<th:block layout:fragment="script">
    <!-- 각 페이지 마다 변경 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js" defer></script>
    <script th:src="@{/js/autoDirection.js}" defer></script>
</th:block>

<th:block layout:fragment="adminContainer">
    <div class="adminContainer">
        <h1>항공편관리</h1>
        <div class="airplane">
            <div class="airplane-con">
                <div class="top">
                    <table id="myTable">
                        <thead>
                        <tr>
                            <th onclick="sortTable(0)">번호</th>
                            <th onclick="sortTable(1)">기장님</th>
                            <th onclick="sortTable(2)">출발시간</th>
                            <th onclick="sortTable(3)">출발지</th>
                            <th onclick="sortTable(4)">도착시간</th>
                            <th onclick="sortTable(5)">도착지</th>
                            <th onclick="sortTable(6)">소요시간</th>
                            <th onclick="sortTable(7)">항공기</th>
                            <th>현황</th>
                            <th>상세보기</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="airplane : ${airplaneDtoPage}">
                            <td th:text="${airplane.id}"></td>
                            <td th:text="${airplane.memberEntity.name}"></td>
                            <td th:text="${#temporals.format(airplane.toTime, 'MM월 dd일 HH시 mm분')}"></td>
                            <td th:if="${airplane.toArea.contains('인천')}" th:text="'인천국제공항 (ICN)'"></td>
                            <td th:if="${airplane.toArea.contains('서울')}" th:text="'김포국제공항 (GMP)'"></td>
                            <td th:if="${airplane.toArea.contains('김해')}" th:text="'김해국제공항 (PUS)'"></td>
                            <td th:if="${airplane.toArea.contains('대구')}" th:text="'대구국제공항 (TAE)'"></td>
                            <td th:if="${airplane.toArea.contains('광주')}" th:text="'광주공항 (KWJ)'"></td>
                            <td th:if="${airplane.toArea.contains('울산')}" th:text="'울산공항 (USN)'"></td>
                            <td th:if="${airplane.toArea.contains('청주')}" th:text="'청주공항 (CJJ)'"></td>
                            <td th:if="${airplane.toArea.contains('양양')}" th:text="'양양국제공항 (YNY)'"></td>
                            <td th:if="${airplane.toArea.contains('군산')}" th:text="'군산공항 (KUV)'"></td>
                            <td th:if="${airplane.toArea.contains('여수')}" th:text="'여수공항 (RSU)'"></td>
                            <td th:if="${airplane.toArea.contains('사천')}" th:text="'사천공항 (HIN)'"></td>
                            <td th:if="${airplane.toArea.contains('포항')}" th:text="'포항공항 (KPO)'"></td>
                            <td th:if="${airplane.toArea.contains('횡성')}" th:text="'원주공항 (WJU)'"></td>
                            <td th:if="${airplane.toArea.contains('제주')}" th:text="'제주국제공항 (CJU)'"></td>
                            <td th:if="${airplane.toArea.contains('밀양')}" th:text="'사랑나무공항 (KAG)'"></td>

                            <td th:text="${#temporals.format(airplane.fromTime, 'MM월 dd일 HH시 mm분')}"></td>
                            <td th:if="${airplane.fromArea.contains('인천')}" th:text="'인천국제공항 (ICN)'"></td>
                            <td th:if="${airplane.fromArea.contains('서울')}" th:text="'김포국제공항 (GMP)'"></td>
                            <td th:if="${airplane.fromArea.contains('김해')}" th:text="'김해국제공항 (PUS)'"></td>
                            <td th:if="${airplane.fromArea.contains('대구')}" th:text="'대구국제공항 (TAE)'"></td>
                            <td th:if="${airplane.fromArea.contains('광주')}" th:text="'광주공항 (KWJ)'"></td>
                            <td th:if="${airplane.fromArea.contains('울산')}" th:text="'울산공항 (USN)'"></td>
                            <td th:if="${airplane.fromArea.contains('청주')}" th:text="'청주공항 (CJJ)'"></td>
                            <td th:if="${airplane.fromArea.contains('양양')}" th:text="'양양국제공항 (YNY)'"></td>
                            <td th:if="${airplane.fromArea.contains('군산')}" th:text="'군산공항 (KUV)'"></td>
                            <td th:if="${airplane.fromArea.contains('여수')}" th:text="'여수공항 (RSU)'"></td>
                            <td th:if="${airplane.fromArea.contains('사천')}" th:text="'사천공항 (HIN)'"></td>
                            <td th:if="${airplane.fromArea.contains('포항')}" th:text="'포항공항 (KPO)'"></td>
                            <td th:if="${airplane.fromArea.contains('횡성')}" th:text="'원주공항 (WJU)'"></td>
                            <td th:if="${airplane.fromArea.contains('제주')}" th:text="'제주국제공항 (CJU)'"></td>
                            <td th:if="${airplane.fromArea.contains('밀양')}" th:text="'사랑나무공항 (KAG)'"></td>
                            <td th:text="'약 '+${airplane.timeTaken}+' 시간'"></td>
                            <td th:text="${airplane.airplane}"></td>
                            <th:block th:if="${airplane.status} == '운행중'">
                                <td><img th:src="@{/images/airplane/green.png}" alt="대체이미지" height="16px"></td>
                            </th:block>
                            <th:block th:if="${airplane.status} == '정상'">
                                <td><img th:src="@{/images/airplane/gray.png}" alt="대체이미지" height="16px"></td>
                            </th:block>
                            <th:block th:if="${airplane.status} == '지연'">
                                <td><img th:src="@{/images/airplane/red.png}" alt="대체이미지" height="16px"></td>
                            </th:block>
                            <td><a th:href="@{/airplane/detail/{id}(id=${airplane.id})}">상세보기</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="bottom">
                    <div class="paging">
                        <ul>
                            <li>
                                <span th:if="${airplaneDtoPage.pageable.pageNumber+1 eq 1}" class="span0">  &laquo </span>
                                <span th:unless="${airplaneDtoPage.pageable.pageNumber+1 eq 1}">
                                <a th:href="@{/airplane/index(page=0,search=${param.search},subject = ${param.subejct})}"
                                               class="span1">  &laquo </a></span>
                            </li>
                            <li>
                                <span th:if="${airplaneDtoPage.pageable.pageNumber+1 eq 1}" class="span0">&lt</span>
                                <span th:unless="${airplaneDtoPage.pageable.pageNumber+1 eq 1}">
                                <a th:href="@{/airplane/index(page=${airplaneDtoPage.pageable.pageNumber-1}
                                ,search = ${param.search}, subject = ${param.subject})}" class="span1">&lt</a></span>
                            </li>

                            <li th:each="i : ${#numbers.sequence(startPage, endPage)}" class="block">
                                    <span th:if="${airplaneDtoPage.pageable.pageNumber +1 == i}" th:text="${i}"
                                          class="now"></span>
                                <a th:unless="${airplaneDtoPage.pageable.pageNumber+1 == i}"
                                   th:href="@{/airplane/index(page=${i-1}
                                    ,search=${param.search}, subject=${param.subject})}" th:text="${i}"></a>
                            </li>

                            <li>
                                <span th:if="${airplaneDtoPage.totalPages == airplaneDtoPage.pageable.pageNumber+1}"
                                      class="span0">&gt</span>
                                <span
                                    th:unless="${airplaneDtoPage.totalPages == airplaneDtoPage.pageable.pageNumber+1}">
                                    <a th:href="@{/airplane/index(page=${airplaneDtoPage.pageable.pageNumber+1}
                                    ,search=${param.search},subject=${param.subject})}" class="span1">&gt</a>
                                </span>
                            </li>
                            <li>
                                    <span th:if="${airplaneDtoPage.totalPages == airplaneDtoPage.pageable.pageNumber+1}"
                                          class="span0">
                                        &raquo
                                    </span>
                                <span
                                    th:unless="${airplaneDtoPage.totalPages == airplaneDtoPage.pageable.pageNumber+1}">
                                        <a th:href="@{/airplane/index(page=${airplaneDtoPage.totalPages-1}
                                        ,search=${param.search}, subject=${param.subject})}" class="span1">
                                            &raquo
                                        </a>
                                    </span>
                            </li>
                        </ul>
                    </div>
                    <th:block sec:authorize="hasAnyRole('ADMIN')">
                        <div class="registrationButton">
                            <a th:href="@{/airplane/registration}">항공편 등록</a>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>