<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/adminLayout}">
<th:block layout:fragment="title">
    <!-- 각 페이지 마다 변경 -->
    <title>vacation</title>
</th:block>
<th:block layout:fragment="css">
    <!-- 각 페이지 마다 변경 -->
    <link rel="stylesheet" th:href="@{/css/commute/vacation.css}">
</th:block>
<th:block layout:fragment="script">
    <!-- 각 페이지 마다 변경 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js" defer></script>
    <script th:src="@{/js/autoDirection.js}" defer></script>
</th:block>
<th:block layout:fragment="adminContainer">
    <div class="adminContainer">
        <div class="vacation">
            <div class="vacation-con">
                <div class="top">
                    <h1>휴가 관리</h1>
                    <div class="search">
                        <form th:action="@{/commute/vacation}" method="get">
                            <select name="subject" id="subject">
                                <option value="" th:selected="${#strings.isEmpty(param.subject)}"> ::선택::</option>
                                <option value="name" th:selected="${#strings.equals(param.subject, 'name')}">이름</option>
                                <option value="positionName"
                                        th:selected="${#strings.equals(param.subject, 'positionName')}">직급
                                </option>
                                <option value="vacType" th:selected="${#strings.equals(param.subject, 'vacType')}">
                                    휴가종류
                                </option>
                            </select>
                            <input type="text" name="search" id="search" th:value="${param.search}">
                            <input type="submit" value="SEARCH">
                        </form>
                    </div>
                    <table id="myTable">
                        <thead>
                        <tr>
                            <th onclick="sortTable(0)">이름</th>
                            <th onclick="sortTable(1)">직급</th>
                            <th onclick="sortTable(2)">종류</th>
                            <th onclick="sortTable(3)">출발일</th>
                            <th onclick="sortTable(4)">복귀일</th>
                            <th onclick="sortTable(5)">휴가 일수</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="vacation : ${vacationDtoPage}">
                            <td th:text="${vacation.memberEntity.name}"></td>
                            <td th:text="${vacation.memberEntity.positionEntity.positionName}"></td>
                            <td th:text="${vacation.vacType}"></td>
                            <td th:text="${vacation.vacStartDate}"></td>
                            <td th:text="${vacation.vacEndDate}"></td>
                            <td th:text="${vacation.vacDays}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="bottom">
                    <div class="paging">
                        <ul>
                            <li>
                                <span th:if="${vacationDtoPage.pageable.pageNumber+1 eq 1}" class="span0"> &laquo</span>
                                <span th:unless="${vacationDtoPage.pageable.pageNumber+1 eq 1}">
                                  <a th:href="@{/commute/vacation( page=0,search=${param.search},
                              subject = ${param.subejct})}" class="span1">  &laquo</a></span>
                            </li>
                            <li>
                                <span th:if="${vacationDtoPage.pageable.pageNumber+1 eq 1}" class="span0">&lt</span>
                                <span th:unless="${vacationDtoPage.pageable.pageNumber+1 eq 1}">
                                    <a th:href="@{/commute/vacation(page=${vacationDtoPage.pageable.pageNumber-1}
                                            ,search = ${param.search}, subject = ${param.subject})}"
                                       class="span1">&lt</a>
                                </span>
                            </li>

                            <li th:each="i : ${#numbers.sequence(startPage, endPage)}" class="block">
                                    <span th:if="${vacationDtoPage.pageable.pageNumber +1 == i}" th:text="${i}"
                                          class="now"></span>
                                <a th:unless="${vacationDtoPage.pageable.pageNumber+1 == i}"
                                   th:href="@{/commute/vacation(page=${i-1}
                                    ,search=${param.search}, subject=${param.subject})}" th:text="${i}"></a>
                            </li>

                            <li>
                                <span th:if="${vacationDtoPage.totalPages == vacationDtoPage.pageable.pageNumber+1}"
                                      class="span0">&gt</span>
                                <span
                                    th:unless="${vacationDtoPage.totalPages == vacationDtoPage.pageable.pageNumber+1}">
                                    <a th:href="@{/commute/vacation(page=${vacationDtoPage.pageable.pageNumber+1}
                                    ,search=${param.search},subject=${param.subject})}" class="span1">&gt</a>
                                </span>
                            </li>
                            <li>
                                    <span th:if="${vacationDtoPage.totalPages == vacationDtoPage.pageable.pageNumber+1}"
                                          class="span0">
                                        &raquo
                                    </span>
                                <span
                                    th:unless="${vacationDtoPage.totalPages == vacationDtoPage.pageable.pageNumber+1}">
                                        <a th:href="@{/commute/vacation(page=${vacationDtoPage.totalPages-1}
                                        ,search=${param.search}, subject=${param.subject})}" class="span1">
                                            &raquo
                                        </a>
                                    </span>
                            </li>
                        </ul>
                    </div>
                    <div class="vacationCreateBtn">
                        <a th:href="@{/commute/vacationCreate}">휴가 등록</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>