<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/adminLayout}">
<th:block layout:fragment="title">
    <title>상위부서</title> <!-- 개인 title 기입 -->
</th:block>
<th:block layout:fragment="css">
    <!--개인 css 기입-->
</th:block>
<th:block layout:fragment="script">
    <!--개인 js 기입-->
</th:block>
<th:block layout:fragment="adminContainer">
    <div class="adminContainer">
        <!--개인 작업 내용 기입-->
    </div>
</th:block>
</html>


