

.changePw{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.changePw .changePw-con{
    padding: 60px;
    border: 1px solid #ccc;
    border-radius: 29px;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-family: "나눔고딕 ExtraBold";
    padding-bottom: 20px;
}

li.change{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    gap: 20px;
}

li label{
    font-size: 20px;
    font-family: "나눔고딕 ExtraBold";
}

li input{
    width: 200px;
    padding: 8px;
    border-radius: 10px;
}

li.btn{
    display: flex;
    justify-content: center;
}

button{
    width: 300px;
    border-radius: 10px;
    font-size: 16px;
    padding: 12px;
    font-family: "나눔고딕 ExtraBold";
    background-color: #3767a6;
    color: white;
}

button:hover{
    width: 320px;
    padding: 14px;
    font-size: 18px;
    border-radius: 10px;
    font-family: "나눔고딕 ExtraBold";
    background-color: #3767a6;
    color: white;
}